* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    position: relative;
}

/* Background */
body::before {
    content: "";
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/img/poster.png');
    background-size:cover;
    background-position:center;
    opacity: 0.3; 
    z-index: -1; 
}

/* Menu */
.container {
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 60px;   
}

.menu ul {
    display: flex;
    flex-direction: row;    
    list-style-type: none;
    padding: 2em 25vw;
    justify-content: space-between;
    align-items: flex-end;
}

ul li a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}

#logo {
    cursor: pointer;
}

/* Content */
.content-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

/* Left Side */
.left-content {
    display: flex;
    flex-direction: column;
}

.info_serie {
    display: flex;
    flex-direction: column;
    width: 450px;
}

.title {
    font-size: 2rem;
}

.gender {
    font-size: 1rem;
    font-weight: 200;
}

.description {
    font-size: 0.8rem;
    font-weight: 100;
}

.more-info {
    text-decoration: none;
    cursor: pointer;
    color: red;
}

.season {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left-arrow,
.right-arrow {
    cursor: pointer;
}

.episodes {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 650px;
    margin-top: 10px;
}

.card-episode {
    width: 230px;
    height: 135px;
    background-color: #E5E5E5;
    border-radius: 6px;
    transition: transform 0.3s ease;
}

.card-episode:hover {
    transform: scale(1.1);
}

.card-episode i {
    display: flex;
    justify-content: center;
    margin: 40px 0;
    color: red;
    font-size: 2rem;
    transition: transform 0.3s ease;
}

.card-episode i:hover {
    transform: scale(1.3);
}

.card-episode:last-child {
    background: linear-gradient(to right, #E5E5E5, rgba(255, 255, 255, 0));
}

.episode-span {
    color: black;
    opacity: 0.5;
    margin: 5px;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.m-t-14 {
    margin-top: 14px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-b-28 {
    margin-bottom: 28px;
}

.m-t-56 {
    margin-top: 56px;
}

.ph-30 {
    padding-left: 60px;
    padding-right: 60px;
}

.gap-150 {
    gap: 150px;
}

.pt-50 {
    padding-top: 50px;
}

/* Right Side */
.right-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.poster {
    width: 24vw;
    max-height: 72vh;
    margin: 80px 220px 0 0;
}

.social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30px;
    height: 160px;
    position: absolute;
    right: 30px;
    top: 50%; 
    gap: 20px;
    transform: translate(-50%, -50%);
}

#social-message {
    margin-top: 10px;
    font-size: 18px;
    color: red;
}

.tooltip {
    display: none;
    position: absolute;
    background-color: red;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
}

/* Footer */
.footer-content {
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 1;
    padding: 10px;
    margin-top: 50px;
}

.footer-info {
    border: 1px solid black;
    background-color: black;
    padding: 5px;
}

.footer-info span {
    margin: 0 10px;
    font-weight: 100;
}